body {
    background-color: #fff;
    font-family: Roboto;
    color: #4F5155;
     display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}



@media only screen and (min-width: 993px)
{
    nav .brand-logo {
        margin-left: 50px;
    }
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 601px)
{
    .container {
        width: 90%;
    }
}

h5.center-align {
    padding-top: 35px;
}

#container {
    min-height: 100px;
    width: 600px;
    margin: 50px auto;
    box-shadow: 0 0 8px #D0D0D0;
}

fieldset {
    border: 0px
}

main {
    flex: 1 0 auto;
}
.collection {
    margin: 0;
}
.complete {
    text-decoration: line-through;
}
.pending {
    text-decoration: none;
}

div.footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(51,51,51,0.08);
}

div.text-white a {
    color: white;
}

div.btn-floating.btn {
    position: absolute;
    top: 15px;
    right: 4%;
}
